:root {
    --primary-bg-color: #222222;
    --secondary-bg-color: #444444;
    --tertiary-bg-color: #191919;
    --primary-color: #8c17c9;
    --primary-color-hover: #7b06b8;
    --secondary-color: #8147c2;
}

.top-bar{
    height: 5rem;
    color: white;
    background-color: var(--tertiary-bg-color);
}

.accordion {
    background-color: var(--primary-bg-color)
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--tertiary-bg-color)!important;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 16px;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
    background-color: var(--primary-bg-color);
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.panel {
  padding: 0 18px;
  margin-bottom: 18px;
  background-color: var(--primary-bg-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.tag {
    border-radius: 8px;
}

.sidebar {
    background-color:var(--primary-bg-color)!important;
}
.card {
    border-radius: 10px;
    color: white!important;
    background-color: var(--primary-bg-color)!important;
}

.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card video{
    max-width: 100%;
}

.flex-container {
  display: flex;
}

.slider{
    color: var(--primary-color);
    background-color: var(--tertiary-bg-color);
}

.slider div{
    height:24px;
    color: white;
    background-color: var(--secondary-color)!important;
}
.text-primary{
    color: var(--primary-color)!important;
}
.button-primary{
    color: white;
    background-color: var(--primary-color)!important;
    opacity: 1;!important
}
.button-primary:hover{
    color: white!important;
    background-color: var(--primary-color-hover)!important;
}
.button-secondary{
    border-style: solid;
    background-color: transparent;
    border-color:  var(--primary-color)!important;
}
.button-secondary:hover{
    color: white!important;
    background-color: var(--primary-color)!important;
}
.button-secondary i, .button-primary i {
    margin-right: 10px;
}
.button-tertiary:hover{
    color: white!important;
    background-color: var(--primary-color)!important;
}

.primary {
    color: white;
    background-color: var(--primary-color)!important;
}
.primary-text{
    color: var(--primary-color)!important;
}

.secondary {
    color: white;
    background-color: var(--secondary-color)!important;
}
.secondary-text{
    color: var(--secondary-color)!important;
}

.image-grid-entry {
  position: relative;
}

.image-grid-entry-img{
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    }

.image-grid-entry-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: black;
    width: 100%;
        height: 20%
}

.image-grid-entry:hover .image-grid-entry-text{
    opacity: 1;
   background: rgba(0, 0, 0, .7) 
}

.flex-container{
    display: flex;
  flex-direction: row;
}
.flex-item{
    flex: 50%;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}